fastapi[all]
sqlalchemy
asyncpg
watchfiles
uuid7
opencv-python-headless
pillow
tqdm
numpy
timm==0.6.13
passlib
bcrypt
python-jose[cryptography]

# torch는 일단 Windows / CPU 버전으로 설치하도록 했으니 이후 환경을 옮기면 그에 맞춰 문서를 재작성할것.
# https://pytorch.org/get-started/locally/
# Windows 에서 동작시킬거라면 그에 맞게 수정할 것
torch
torchvision
torchaudio